.DS_Store
Unit 1 Assignments/.DS_Store

# Answer keys
Unit 1 Assignments/Unit 1.3/ArithmeticAnswer.java
Unit 1 Assignments/Unit 1.4/FixAnswer.java
Unit 2 Assignments/Unit 2.1/MazeAnswer.java

# .class
Unit 2 Assignments/Unit 2.1/Maze.class
