.DS_Store
Unit 1 Assignments/.DS_Store
*.class

# Answer keys
Unit 1 Assignments/Unit 1.3/ArithmeticAnswer.java
Unit 1 Assignments/Unit 1.4/FixAnswer.java
Unit 2 Assignments/Unit 2.1/MazeAnswer.java
Unit 2 Assignments/Unit 2.3/AreaAnswer.java
Unit 2 Assignments/Unit 2.4/StringAnswer.java
